{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Artistes</h1><a class="btn btn-violet text-right" href="{{ path('artist_new') }}">Nouvel Artiste</a>
    </div>
    <div class="row no-gutters">
        {% for artist in artists %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="card" >
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ artist.firstname }} {{ artist.lastname }}</h5>
                        <a class="btn btn-orange" href="{{ path('artist_edit', { 'id': artist.id }) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
