{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-outline-primary">Test</a>
    <a class="btn btn-outline-danger">Test</a>
    <a class="btn btn-outline-warning">Test</a>
    <a class="btn btn-outline-secondary">Test</a>
    <a class="btn btn-outline-default">Test</a>
{% endblock %}

{% block stylesheets %}

{% endblock %}
