$background-color: #000000;
$text-color: #CCCCCC;
$button-text-color: #FFFFFF;
$blue: #0088AA;
$turquoise: #00AA55;
$green: #88AA00;
$yellow: #DDDD00;
$orange: #FF8800;
$red: #DD0000;
$violet: #AA00AA;
$gradient-blue:linear-gradient(to right, $blue , $turquoise);
$gradient-violet:linear-gradient(to right, $blue , $violet);
$gradient-orange:linear-gradient(to right, $orange , $red);
$gradient-green:linear-gradient(to right, $green , $yellow);


@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway');

body{
  background-color: $background-color;
  color : $text-color;
  font-family: Nanum Gothic;
}

.form-control, .form-control:focus {
  background-color: lighten( $background-color, 10% );
  border-radius:0px;
  border:0px solid transparent;
  color:$text-color;
}

.form-control:focus {
  background-color: lighten( $background-color, 15% );
  color:$button-text-color;
}

.form-control-label, .form-control-label:focus, legend {
  color:$button-text-color;
  font-weight:bold;
}

/************ Cards ********************/

.card{
  background-color: $background-color;
  border-radius:0px;
  margin:5px;
}

.card-img-top{
  height:250px;
  object-fit: cover;

}
.link-list{
  border:15px solid #FFF;
}

.image-wrapper::after
{
  box-shadow: inset 3px 3px 10px 0 #000000;
  content: '';
  display: block;
  height: 250px;
  position: absolute;
  top: 15px;
  width: 89%;
}





/************ Boutons ******************/

.btn{
  color:$button-text-color;
  font-family: Raleway;
  background-color: lighten( $background-color, 10% );
  border-width: 3px;
  border-top: solid 0px transparent;
  border-left: solid 0px transparent;
  border-right: solid 0px transparent;
  border-radius:0px;
  font-weight:bold;
  animation-name: example;
  animation-duration: 4s;
  border-bottom: 6px solid transparent;
}

.btn:hover{
  background-color:lighten( $background-color, 15% );
  color:$button-text-color;
  transition: background 0.5s;
}

.btn-blue{
  border-image: $gradient-blue;
  border-image-slice: 1;
}

.btn-violet{
  border-image: $gradient-violet;
  border-image-slice: 1;
}

.btn-orange{
  border-image: $gradient-orange;
  border-image-slice: 1;
}

.btn-green{
  border-image: $gradient-green;
  border-image-slice: 1;
}

.row {
  margin: 0;
}
