{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center blackground">
        <h1>Nouvelle Oeuvre</h1>
    </div>

    <div class="blackground mt-3 mb-5 pt-3 pb-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center mt-4">
            <input class="btn btn-blue" type="submit" value="Ajouter" />
            <a class="btn btn-green" href="{{ path('artwork_index') }}">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
